.content {
  height: 100%;
  width: 80%;
  left: 20%;
  top: 0%;
  position: fixed;
  overflow: scroll;
}

/* Landing Page */
.buttonEnter {
  background: #407899;
  height: 75px;
  width: 200px;
  color: white;
  font-size: 2em;
  border-width: 2px;
  border-color:  white;
  border-radius: 6px;
}
.landingPage {
  background: #407899;
  color: white;
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.landingName {
  text-align: center;
  font-size: 4em;
}

/* About */
.description {
  font-style: italic;
  margin-left: 5%;
  width: 70%;
}
.icons{
  margin-top: 2%;
  margin-left: 5%;
}
.icon {
  margin-right: 2%;
}
.name{
  margin-top: 15%;
  margin-left: 5%;
  margin-bottom: 0%;
  margin-right: 0%;
  font-size: 2.25rem;
}
.lastName{
  color: #407899;
}

/* Navbar */
.navbar {
  background: #407899;
  text-align: center;
  position: fixed;
  height: 100%;
  width: 20%;
}
.profile {
  width: 100%;
}
.profileImage {
  border-radius: 15%;
  max-width: 11rem;
  max-height: 11rem;
  border: .5em solid rgba(0, 0, 0, .2);
  margin-top: 35%;
  cursor: pointer;
}
.navbarLinks {
  margin-top: 10%;
  font-size: 1.25rem;
  font-weight: 600px;
}
.link {
  text-decoration: none;
  color: rgba(0, 0, 0, .2);
  font-family: Georgia, 'Times New Roman', Times, serif;
  cursor: pointer;
}
.link:hover {
  color: aqua;
  text-decoration: underline;
}
.navbarContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.selectedLink {
  color: white;
}
/* Skills */
.skillTitle {
  display: flex;
  align-items: center;
  flex-direction: column;

}
/* Projects */
.title {
  text-align: center;
}
.card {
  background: whitesmoke;
  border-radius: 15px;
  padding: 3px;
  width: 300px;
  box-shadow:rgba(64, 120, 153, .3) 5px 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.cardCollection{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  text-align: center;
}
.cardExperience {
  background: whitesmoke;
  border-radius: 15px;
  padding: 20px;
  width: 60%;
  box-shadow:rgba(64, 120, 153, .3) 5px 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.projectButton {
  width: 125px;
  background-color: white;
  border: 2px;
  border-style: solid;
  border-radius: 16px;
  border-color: #407899;
  text-decoration: none;
  font-size: 16px;
  color: #407899;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projectButtonText {
  font-size: 24px;
  margin-bottom: 0%;
  margin-top: 5%;
}
.link {
  display: flex;
  justify-content: center;
}
.thumbnail {
  cursor: zoom-in;
}
.lightbox {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.lightboxImage {
  display: flex;
  width: 50%;
  margin: auto;
}
.lightboxButton {
  background-color: white;
  text-align: center;
  border: 5px;
  border-style: solid;
  border-radius: 16px;
  border-color: #407899;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  color: #407899;
  font-size: 36px;
  margin: auto;
  margin-top: 2%;
  padding: 1%;
}

/* Interests */
.progress-bar {
  position: relative;
  height: 20px;
  width: 350px;
  border-radius: 50px;
  border: 1px solid #333;
}
.filler {
  background: #407899;
  height: 100%;
  border-radius: inherit;
  transition: width 2s ease-in;
}
.interest{
  color: black;
  font: 6em;
  margin: 20%;
}

@media only screen and (max-width: 800px) {
  /* For mobile phones: */
  .content {
    top: 10%;
    left: 0%;
    width: 100%;
    z-index: 0;
    height:85%;
  }

  /* About Page */
  .aboutPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .name{
    display: flex;
    left: 0%;
    top: 10%;
    margin-top: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
    margin-right: 0%;
    font-size: 1.25rem;
  }
  .description {
    display: flex;
    width: 80%;
  }
  .lastName{
    color: #407899;
  }
  .icons {
    display: flex;
  }

  /* Navbar */
  .menu{
    background: #407899;
    top: 2%;
    left: 2%;
    position: fixed;
    visibility: hidden;
    z-index: 1;
  }
  .bar{
    background: white;
    width: 35px;
    height: 5px;
    margin: 6px 0;
  }
  .navbar{
    width: 100%;
    height: 10%;
    z-index: 1;
  }
  .icon{
    margin-left: 0;
    margin-right: 2%;
  }
  .icons{
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
  .navbarLinks{
    top:0;
    left:0;
    width: 100%;
    position: fixed;
    font-size: 1.25rem;
    font-weight: 600px;
    z-index: 1;
    background-color:  #407899;
  }
  .link{
    color:  rgba(255, 255, 255, 1);;
    z-index: 2;
  }
  .menu{
    background: #407899;
    top: 2%;
    left: 2%;
    position: fixed;
    visibility: visible;
    z-index: 2;
  }
  .bar{
    background: white;
    width: 35px;
    height: 5px;
    margin: 6px 0;
    visibility: visible;
    z-index: 2;
  }
  .lightboxImage{
    height: 80%;
    width: 80%;
  }
}