.button {
  background: rgba(65, 230, 190, .6);
  color: black;
  font-size: 2em;
  border-radius: 10%;
  width: 200px;
  height: 50px;
}
.description {
  margin-left: 5%;
}
.icon1{
  margin-left: 5%;
  margin-right: 2%;
}
.name{
  margin-top: 10%;
  margin-left: 5%;
  margin-bottom: 0px;
  margin-right: 0px;
  width: 1000px;
}
.email{
  text-decoration: none;
  color: #407899;
  font-weight: 800;
}
.email:visited {
  transition: color .15s ease-in;
}
.email:hover   {
  transition: color .15s ease-in;
}
.email:active  {
  transition: color .15s ease-in;
}
.email:focus   {
  transition: color .15s ease-in;
  outline: 1px dotted currentColor;
}
.lastName{
  color: #407899;
}
.landingPage {
  background-color: rgba(0, 0, 0, .2);
  color: black;
  align-content: center;
  height: 1000px;
}
.navbar {
  background: #407899;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 15%;
}

.navbarLinks {
  margin-top: 80px;
  font-size: 2ex;
  font-weight: 600;
  margin-bottom: 10px;
}

.link {
  text-decoration: none;
  color: #41D3BD;
  font-family: Georgia, 'Times New Roman', Times, serif;
  cursor: pointer;
}

.link:hover {
  color: aqua;
  text-decoration: underline;
}

.profileImage {
  border-radius: 25%;
  max-width: 11rem;
  max-height: 11rem;
  border: .5em solid #41D3BD;
  margin-top: 100px;
  cursor: pointer;
}

.content {
 position: fixed;
 top: 0;
 left: 15%;
 height: 100%;
 width: 85%;
}

.lastname {
  color: aqua;
}
.subheading {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 5%;

}